@import "tailwindcss";

@theme {
  --color-background: #250804;
  --color-secondary: #61422D;
  --color-accent: #96191A;
  --color-foreground: #FCEBD7;

  --font-sans: var(--font-outfit);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-background);
}
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
