---
import Container from "~/components/container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ariverse Studio | Game Development Full Cycle">
    <main>
        <Container>
            <p class="text-white">
                Turn ordinary ideas into extraordinary games. We are a game development studio that offers full-cycle game development services. From concept to launch, we will help you create a game that will captivate your audience.
            </p>
        </Container>
    </main>
</Layout>
